{% extends "base.html" %}
{% load static %}

{% block title %}
	Home | Django Project
{% endblock %}

{% block content %}
	<h1>Ahoj </h1>
    <p>Toto už jede přes templates + base layout + static CSS.</p>

    <img class="hero" src="{% static 'img/obrazek_starwars.jpg' %}" alt="Image">

    <div class="card">
        <h5 style="padding-bottom: 0;margin-bottom: 0">Co už máme?</h5>
        <ul style="padding-top: 0;margin-top: 0">
            <li>Runserver</li>
            <li>Homepage</li>
            <li>Css</li>
            <li>Navbar jako include </li>
            <li>+ odkaz na budoucí About page</li>
            <li>Message jako include</li>
            <li>Staticfiles + favicon</li>


        </ul>
        <h5 style="padding-bottom: 0;margin-bottom: 0">Blog:</h5>
        <ul style="padding-top: 0;margin-top: 0">
            <li>New Post</li>
            <li>My Post</li>
            <li>Edit Post</li>
            <li>Publish Button</li>
        </ul>

        <h5 style="padding-bottom: 0;margin-bottom: 0">Authenticate:</h5>
        <ul style="padding-top: 0;margin-top: 0">
            <li>Login</li>
            <li>Logout</li>
            <li>Sign in</li>
        </ul>

        <h5 style="padding-bottom: 0;margin-bottom: 0">Dodělat</h5>
        <ul style="padding-top: 0;margin-top: 0">
            <li>My post - formatování</li>
        </ul>
    </div>
{% endblock %}

