<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Django projekt
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <link rel="icon" href="{% static 'favicons/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicons/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicons/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">

</head>

<body>
{% comment %}
    <header class="site-header">
        <div class="container">
            <a href="/" class="brand">Django Project</a>
            <nav class="nav">
                <a href="/">Home</a>
            </nav>
        </div>
    </header>
{% endcomment %}
    {% include 'partials/_navbar.html' %}

    <main class="container">
        {% include 'partials/_messages.html' %}
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <div class="container">
            <small>© {% now "Y" %} Django Project</small>
        </div>
    </footer>



</body>
</html>