{% extends 'base.html' %}
{% load static %}

{% block title %}
	Detail | {{ post.title }}
{% endblock %}

<link rel="stylesheet" href="{% static "css/style.css" %}">
{% block content %}
    <div class="space">
      <a class="btn-page" href="{% url 'blog:post_list' %}">← Zpět na Blog</a>
    </div>

    <h1>{{ post.title }}</h1>

    {% if request.user.is_authenticated and request.user == post.author %}

    {% endif %}

    {% if post.published_at %}
    	<p>
          <small>
            Publikováno: {{ post.published_at|date:"j.n.Y H:i" }} <br>
{#            Autor: {{ post.author }}#}
            {% if request.user.is_authenticated and request.user == post.author and request.user.id == post.author_id %}
              Autorem jste vy.
            {% else %}
              Autor: {{ post.author }}
            {% endif %}
          </small>
        </p>
    {% endif %}
    <div class="card">
      {{ post.content|linebreaks }}
    </div>


      {% if request.user.is_authenticated and request.user == post.author %}
        <div class="actions">
      	  <a class="btn-page" href="{% url 'blog:post_update' slug=post.slug %}">Upravit</a>

          {% if post.status == "draft" %}
            <form class="inline-form" action="{% url 'blog:post_publish' slug=post.slug %}" method="post">
            {% csrf_token %}
            <button class="btn-page" type="submit">Publikovat</button>
            </form>
          {% endif %}
        </div>

      {% endif %}
    {% endblock %}